* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

body {
  background: linear-gradient(0deg, #f9faff, #f9faff);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 54px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  gap: 34px;
}
.header__menu__link {
  display: flex;
  align-items: center;
  gap: 57px;
}
.header__menu__link a {
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  color: #363853;
  line-height: 100%;
  letter-spacing: 0%;
  transition: 0.4s ease;
}
.header__menu__link a:hover {
  color: #ff6838;
}

.btn {
  cursor: pointer;
  width: -moz-max-content;
  width: max-content;
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: 0;
  background-color: #ff7a50;
  box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.1882352941);
  padding: 15px 28px;
  border-radius: 5px;
}

.fastfood {
  display: flex;
  align-items: center;
  margin-top: 52px;
}
.fastfood__text {
  width: 530px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.fastfood__text h1 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 66px;
  color: #363853;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.fastfood__text h1 span {
  font-family: Rubik;
  font-weight: 500;
  font-size: 66px;
  color: #ff7a50;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.fastfood__text p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  color: #363853;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.fastfood__text .btn {
  margin-top: 21px;
}

.stayhome {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stayhome__text {
  display: flex;
  flex-direction: column;
  gap: 95px;
  width: 450px;
}
.stayhome__text h2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  color: #363853;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.stayhome__text h2 span {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  color: #ff7a50;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.stayhome__text p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  color: #363853;
  line-height: 30px;
  letter-spacing: 0%;
}
.stayhome__text .btn {
  margin-top: 46px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 30px;
}

.foodrestaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 44px;
}
.foodrestaurant h2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #363853;
}
.foodrestaurant h2 span {
  color: #ff6838;
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.foodrestaurant__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 417px;
}
.foodrestaurant__card {
  display: flex;
  flex-direction: column;
  gap: 22px;
  background: #ffffff;
  border-top-left-radius: 53px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 53px;
  border-bottom-left-radius: 5px;
}
.foodrestaurant__card__text {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px;
}
.foodrestaurant__card__text h3 {
  font-family: Rubik;
  font-weight: 400;
  font-size: 24px;
  color: #363853;
  line-height: 30px;
  letter-spacing: 0%;
}
.foodrestaurant__card__text__subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
}
.foodrestaurant__card__text__subtitle p {
  font-family: Rubik;
  font-weight: 300;
  font-size: 18px;
  color: #363853;
  line-height: 30px;
  letter-spacing: 0%;
}
.foodrestaurant__card__text__subtitle .btn {
  margin-left: 22px;
  padding: 5px 25px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  height: 33px;
  cursor: pointer;
}

.mobile {
  margin-top: 162px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 110px;
}
.mobile__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 538px;
}
.mobile__text h2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  color: #363853;
  line-height: 50px;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.mobile__text h2 span {
  color: #ff7a50;
}
.mobile__text p {
  font-family: Rubik;
  font-weight: 400;
  font-size: 20px;
  color: #363853;
  line-height: 30px;
  letter-spacing: 0%;
}

.footer {
  width: 100%;
  border-radius: 20px;
  background: #ff7a50;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
  padding: 59px;
  margin-bottom: 197px;
}
.footer h2 {
  font-family: Rubik;
  font-weight: 500;
  font-size: 40px;
  color: white;
  line-height: 100%;
  text-align: center;
}
.footer__end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 838px;
  background-color: white;
  padding: 24px 9px 24px 43px;
  border-radius: 70px;
}
.footer__end input {
  width: 100%;
  border: 0;
  height: 100%;
  outline: none;
  background: none;
  font-family: Rubik;
  font-weight: 400;
  font-size: 18px;
  color: #363853;
  line-height: 30px;
}
.footer__end .btn {
  border: 1px solid #000000;
  border-radius: 70px;
}/*# sourceMappingURL=style.css.map */